@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

html::-webkit-scrollbar{
  display: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto";
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 85px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
  
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.navbarListItemName,
.navbarListItemNameActive {
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}

.my-container{
  border: #000 1px solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about{
  scroll-snap-align: center;
}
#products{
  scroll-snap-align: center;
}


